.lable-form-add-policy .col-2{
    background-color: #0C47A1;
    color: #fff;
    margin-bottom: 2px;
    padding-left: 28px;
}
.lable-form-add-policy .row:first-child .col-2{
    padding-top: 22px;
    padding-bottom: 10px;
}
.policy thead{
    text-align: center;
}
.lable-form-add-policy .row .col-2{
    display: flex;
    align-items: center;
}
.lable-form-add-policy .input {
    background-color: #D9D9D9;
    padding: 10px;
    margin-left: 2px;
    height: 100%;
}
.lable-form-add-policy .col-10{
    margin-bottom: 2px !important;
}
.lable-form-add-policy .col-10 input{
    /* height: 100%; */
    width: 50%;
}
.policy-name{
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    max-width: 50ch;
}

.background-title-table{
    background-color: #2D419A;
    color: #fff;
}
.policy .button{
    text-align: center;
    width: 200px;
    /* border: 1px solid rgb(0, 0, 0); */
    /* box-shadow:  1px 1px 1px 1px #c7c7c7; */
    margin-right: 20px;
}
.policy{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: var(--font-default);
    line-height: 22px;
}
.button-right{
    /* position: fixed; */
    /* bottom: 60px; */
    /* right: 60px; */
    text-align: center;
    width: 200px;
    margin-right: 20px;
    /* border: 1px solid rgb(0, 0, 0); */
    /* box-shadow:  1px 1px 1px 1px #c7c7c7; */

}
.policy .btn-create-custom{
    margin-top: 10px;
    margin-bottom: 30px;
}
.button-left{
    /* position: fixed; */
    /* bottom: 60px; */
    /* right: 500px; */
    text-align: center;
    width: 200px;
    margin-right: 20px;
    /* border: 1px solid rgb(0, 0, 0); */
    /* box-shadow:  1px 1px 1px 1px #c7c7c7; */
}
.button-create-season,
.button-create-update{
    background-color: #2D419A;
    color: #fff;
    margin-bottom: 0px !important;
}
.button-delete{
    background-color: #FF0000;
    margin-bottom: 0px !important;
    color : #fff;
}
.button-back{
    background-color: #CECECE;
}
.button-center{
    /* position: fixed; */
    /* bottom: 60px; */
    /* right: 280px; */
    margin-right: 20px;
    text-align: center;
    width: 200px;
    /* box-shadow:  1px 1px 1px 1px #c7c7c7; */
}

.lable-form-detail-policy .col-2{
    background-color: #0C47A1;
    color: #fff;
    margin-bottom: 2px;
    padding-left: 28px;
}
.lable-form-detail-policy .row .col-2{
    display: flex;
    align-items: center;
}
.lable-form-detail-policy .col-2 p:first-child{
    margin-top: 10px !important;
}
.lable-form-detail-policy p{
    margin-top: 10px !important;
}

.policy {
    min-height: calc(100vh - calc(13rem + 1px));
}


/* .wrapper .content-wrapper {
    min-height: calc(100vh - calc(3.5rem + 1px)) !important;
    display: flex;
    flex-direction: column;
}  */
table tbody tr td a {
    font-size: var(--font-default);
    line-height: 22px;
}
.col-title, .col-content {
    margin-bottom: 2px;
    background-color: #D9D9D9;
    padding: 7px;
}
.col-title p {
    background-color: #dee2e6;
    border-color: #6c757d !important;
    border: 1px solid #dee2e6 !important;
    padding: 0.375rem 0.75rem;
    border-radius: 0.25rem;
}
.col-content p {
    background-color: white;
    border-color: #6c757d !important;
    border: 1px solid #dee2e6 !important;
    padding: 0.375rem 0.75rem;
    border-radius: 0.25rem;
}
.btn-custom {
    /* box-shadow: 0px 0px 5px rgb(0 0 0 / 25%); */
    border-radius: 4px;
}
.modal-footer{
    border-top:none;
}
.modal-header {
    border-bottom:none;
}
#content {
  background-color:white;
}
span.star{
    color: red;;
}
.btn-cancel {
    background-color: #CECECE;
    color: #000000;
    border: none;
}
.display_rank_data {
    width: 90px !important;
    height: 52px !important;
    border-radius: 4px;
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
}
.col-content textarea {
    background-color: #dee2e6 !important;
}
table thead tr td .text-dark, table thead tr td .text-dark:hover{
    color: #FFFFFF !important;
}
.lable-form-add-policy .col-10.address input{
    width : 100%;
}
.lable-form-add-policy select {
    font-size: var(--font-default);
}
.btn-action {
    margin-top: 30px;
    display: flex;
    justify-content: flex-end;
}
.btn-action-detail {
    display: flex;
    justify-content: flex-end;
}
#agent_id{
    width : 50%;
}
.lable-form-add-policy .col-4{
    margin-bottom: 2px !important;
}
.icon_custom{
    right: 35% !important;
}
.abc{
    margin-right: 0;
    height: 100%;
    align-content: center;
}
.datetimepicker-input{
    width: 70%;
}
.datetimepicker-input-1{
    width: 70%;
}
.datetimepicker-input::after{
    content: '~';
    width: 100px;
    height: 100px;
    color: #0C47A1;
}
.p_custom{
    position: absolute ;
    right: 15% ;
    font-size: 30px;
}
.lable-form-add-policy .col-6:first-child .row{
    height: 100%;
}
.lable-form-add-policy .col-6:first-child .row .col-4{
    height: 100%;
}
.lable-form-add-policy .col-6 .row .col-4{
    background-color: #0C47A1;
    color: #fff;
    display: flex;
    align-items: center;
}
.lable-form-add-policy .col-6:first-child .row .col-8{
    height: 100%;

}
.lable-form-add-policy .col-6:first-child .row .col-8 .input{
    height: 100%;
    /* display: flex; */
    /* align-items: center; */
}
#unit_over_time{
    width: 45%;
}
.lable-form-add-policy .col-8{
    margin-bottom: 2px;
}
.plan_name{
    width: 45%;
}
.plan_name_detail{
    width: 45%;
}
.plan_time{
    width: 20%;
}
.plan_price{
    width: 35%;
}
.discount_name{
    width: 45%;
}
.discount_day{
    width: 20%;
}
.discount_rate{
    width: 35%;
}
.plan_action{
    width: 5%;
    background-color: #FFFFFF;
    border: none !important;
}
.table-bordered{
    border: none !important;
}
table input{
    width: 100%;
    border: #FFFFFF;
    border-radius: 3px;
}
table.table tbody td{
    padding: 5px;
    background-color: #D9D9D9;
}
table.table tbody td.plan_action{
    padding: 5px;
    background-color: #FFFFFF;
    text-align: center;
}
.p_custom_en{
    position: absolute ;
    right: 22% ;
    font-size: 25px;
}
.p_custom_en_1{
    position: absolute ;
    right: 45% ;
    font-size: 25px;
}
.center_1{
    display: flex;
    align-items: center;
}
.title{
    margin-top: 25px;
    font-size: var(--font-big);
}
#add_plan_time{
    width: 60%;
}
.add_plan_time_time{
    position: absolute ;
    right: 40%;
}
#add_plan_price{
    width: 90%;
}
.add_plan_price_time{
    position: absolute ;
    right: 4%;
}
#add-data-plan{
    cursor: pointer;
}
.remove{
    cursor: pointer;
}

.mr-top-25 {
    margin-top: 25px;
}

.form-control.is-invalid, .was-validated .form-control:invalid{
    background-image: none !important;
}
#error_amount_price
{
    display: none;
}
#error_amount_time_price
{
    display: none;
}
#error_amount_plan_price
{
    display: none;
}
.ver{
    margin-bottom: 2px;
}
.ver .btn-primary{
    display: flex;
    align-content: center;
    justify-content: center;
    align-items: center;
    border: 1px solid #000000;
}
.ver .btn-primary p{
    margin: 0px;
}
.ver .select{
    padding: 0px;
}
.ver .addPackVer1{
    display: flex;
    align-content: center;
    justify-content: center;
    align-items: center;
}
.ver .addPackVer2{
    display: flex;
    align-content: center;
    justify-content: flex-start;
    align-items: center;
}
.ver .addPackVer1 p{
    margin: 0px;

}
.ver .addPackVer1 p img{
    cursor: pointer;
}
.ver .addPackVer2 p{
    margin: 0px;

}
.ver .addPackVer2 p img{
    cursor: pointer;
}
.round_type{
    padding-top: 5px;
    padding-bottom: 5px;
}
.round_type p{
    margin-bottom: 2px;
}
.addver .row{
    margin-left: 2px;
}

.add-season {
    display: flex;
}

table.table-season-data tbody td{
    background-color: #fff !important;
    border: none;
}

.table-season-data tbody .td-season-data {
    width: 97%;
}

.table-season-data tbody .icon-season-data {
    width: 3%;
}

.table-season-data input[type=radio] {
    width: auto !important;
    margin-right: 10px;
}

#add-data-plan-season {
    margin-left: 20px;
}

.button-plan-season {
    margin-bottom: 20px;
}

.icon {
    cursor: pointer;
}

.add_season_plan_time_time {
    margin-left: 2px;
    width: 3rem;
}

.add_season_plan_price_time {
    margin-left: 2px;
}

.season_plan_time .div_season_plan_old_time,
.season_plan_old_time .div_season_plan_old_time,
.season_plan_price .div_season_plan_old_price
{
    display: inline-flex;
}

#add_season_unit_over_time {
    width: 45%;
}

#new_add_season_per_night_price {
    width: 70%;
}

#new_add_season_unit_over_time {
    width: 45%;
}

#add_season_plan_new_time {
    width: 60%;
}

.add_season_plan_new_time_time {
    position: absolute;
    right: 40%;
}

#add_season_plan_new_price {
    width: 90%
}

.add_season_plan_new_price_time {
    position: absolute;
    right: 4%;
}

.bootstrap-datetimepicker-widget table td.active {
    background-color: #007bff !important;
    color: #fff !important;
    text-shadow: 0 -1px 0 rgb(0 0 0 / 25%) !important;
}
