
.bg_header_table thead td {
    background-color: #E6EFFC;
    color: #4c6c9a;
}

.vehicle select{
    margin-right: 50px !important;
}

.border-white {
    border-bottom-color: #ffffff;
    border-bottom-style: solid;
    border-bottom-width: thin;
}

.border-div-white {
    /* border-bottom-color: #ffffff;
    border-bottom-style: solid;
    border-bottom-width: thin; */
    margin-top: 10px;
}

.content-header button{
    border-radius: 10px !important;
    min-width: 200px;
}

.vehicle-model table p{
    margin-bottom: 2px !important;
}

.vehicle-model select{
    width: 200px;
}

.text-in-screen {
    font-style: normal;
    font-weight: 400 !important;
    font-size: 14px;
    line-height: 22px;
}

.btn-custom {
    /* box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.25); */
    border-radius: 4px;
}

.submit-search{
    background: #2D419A;
    color: #FFFFFF;
}

.table thead td {
    vertical-align: revert !important;
    border-bottom: 1px solid #dee2e6;
}

.bg_header_table thead td {
    background-color: #2D419A;
    color: #fff !important;
}

.border-header {
    border: 1px solid;
    border-color: #fff;
}

.table tbody td {
    vertical-align: middle !important;
    text-align: center;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 160px;
}

.table td, .table th {
    padding: 0.75rem;
    vertical-align: top;
    border-top: 1px solid #dee2e6;
}

.lable-form-permission-roles .row .col-3{
    background-color: #0C47A1;
    color: #fff;
    margin-bottom: 2px;
    padding-left: 28px;
}

.lable-form-permission-roles .row .col-3{
    display: flex;
    align-items: center;
}

.lable-form-permission-roles .col-9{
    margin-bottom: 2px !important;
}

.lable-form-permission-roles .col-9 input{
    min-height: 38px;
    width: 50%;
}

.lable-form-permission-roles .input {
    background-color: transparent;
    padding: 10px;
    margin-left: 2px;
    padding: 7px;
}

.button-create-update{
    background-color: #2D419A;
    color: #fff;
    margin-bottom: 0px !important;
}

.button-delete{
    background-color: #FF0000;
    margin-bottom: 0px !important;
    color : #fff;
}

.button-back{
    background-color: #CECECE;
}

.button-center{
    margin-right: 20px;
    text-align: center;
    width: 200px;
    /* box-shadow:  1px 1px 1px 1px #c7c7c7; */
}

.btn-create-custom{
    background-color: #EF6C00 !important;
}

.button{
    text-align: center;
    width: 200px;
    background-color: #fff;
    box-shadow:  1px 1px 1px 1px #c7c7c7;
    margin-right: 20px;
}

.button-right{
    text-align: center;
    width: 200px;
    margin-right: 20px;
    /* box-shadow:  1px 1px 1px 1px #c7c7c7; */
}

.button-left{
    text-align: center;
    width: 200px;
    margin-right: 20px;
    /* box-shadow:  1px 1px 1px 1px #c7c7c7; */
}

.tab-content-custom>.active {
    background: #E2E2E2 !important;
}

.tab-content>.active .text-input{
    background: #FFFFFF;
    padding: 10px;
    margin: 0px;
}

.tab-content>.active .text-input-area{
    background: #FFFFFF;
    padding: 10px;
    margin: 0px;
    min-height: 40px;
    max-height: 250px;
    overflow: auto;
}

.tab-content {
    padding-bottom: 20px;
}

.lable-form-permission-roles .text-input{
    background: #dee2e6;
    padding: 10px;
    margin: 0px;
    width: 100%;
    word-break: break-word;
}

.lable-form-permission-roles .text-input-area{
    background: #dee2e6;
    padding: 10px;
    margin: 0px;
    min-height: 40px;
    max-height: 250px;
    overflow: auto;
    width: 100%;
    resize: none;
    word-break: break-word;
}

.lable-form-permission-roles .col-9 {
    background-color: rgba(217, 217, 217, 1) !important;
}

table thead tr td .text-dark, table thead tr td .text-dark:hover{
    color: #FFFFFF !important;
}
td.scroll_table {
    min-width: 180px !important;
}
td.keep_table {
    min-width: 120px !important;
}
