.content-wrapper {
    height: auto !important;
}
p.lable_reservation{
    width: 82px;
    height: 30px;
    left: 727px;
    top: 755px;
    /* border: 1px solid #C4C4C4; */
    border-radius: 5px;
    text-align: center;
    display: inline-block;
    margin: 0 5px;
}

p.lable_reservation--violet{
    background: rgba(72, 22, 179, 0.4);
}

p.lable_reservation--grey{
    background: rgba(107, 107, 107, 0.4);
}

p.lable_reservation--white{
    background: #dee2e6;
}

label.label_check_status{
    font-weight: 400 !important;
    font-size: var(--font-default) !important;
    line-height: 22px !important;
}

.container-fluid--style {
    background-color: #FFFFFF;
    padding: 30px;
    border-radius: 5px;
}

/*Custome button*/
.btn-save-station {
    background-color: rgba(12, 71, 161, 1);
    color: #FFFFFF;
    width: 165px;
    border-radius: 4px;
    margin-top: 40px;
    margin-right: 30px;
    margin-bottom: 23px;
}

.btn-save-station:hover {
    color: #FFFFFF;
}

.btn-delete-station {
    background-color: #FF0000;
    color: #FFFFFF;
    width: 165px;
    margin-top: 40px;
    margin-right: 18px;
    margin-bottom: 23px;
}

.btn-delete-station:hover {
    color: #FFFFFF;
}

.btn-back-station {
    background-color: rgba(206, 206, 206, 1);
    color: black;
    width: 165px;
    border-radius: 4px;
    margin-top: 40px;
    margin-right: 18px;
    margin-bottom: 23px;
}

/*Custom table*/
.table th {
    color: #FFFFFF;
    background-color: #0d47a1;
}

.view-table th {
    width: 288px;
}

.table thead {
    background-color: #0d47a1;
}

.btn.btn-white-custom {
    background: #FFFFFF;
    /* box-shadow: 0 0 5px rgba(0, 0, 0, 0.25); */
    border-radius: 4px;
}

.view-table td {
    background-color: rgba(217, 217, 217, 1);
}

.stations {
    min-height: calc(100vh - calc(12rem + 1px));
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.form-group {
    margin-bottom: unset;
}

p.station {
    margin-top: 8px;
}

.bg-pd-white{
    width: 100%;
    background-color: #dee2e6;
    padding: 5px 10px;
    border-radius: 0.25rem;
    font-size: var(--font-default);
}

.bg-pd-white--h31 {
    height: 31px;
}

.text-dark {
    margin-top:8px;
}

.button-delete {
    background-color: #FF0000;
}
.certificate_paper {
    background: #dee2e6;
    border-radius: 5px;
    padding: 10px;
}
.mr-5 {
    margin-right: 53px !important;
}
.mr-2 {
    margin-right: 28px !important;
}
#dtBasicExample_length label{
    display: none;
}

table.dataTable thead .sorting.sorting_desc:after {
    opacity: 1 !important;
    font-family: 'icomoon' !important;
    content: '▼' !important;
    color: #FFFFFF !important;
    top: 5px;
    /* z-index: 100000; */
}
table.dataTable thead .sorting:after {
    opacity: 1 !important;
    font-family: 'icomoon' !important;
    content: '▲' !important;
    color: #FFFFFF !important;
    top: 5px;
    /* z-index: 100000; */
    /* margin-left: 10px; */
}
.stations th a, .stations th a:hover{
color: #ffffff !important;
}
.timepicker .timepicker-picker .table-condensed td{
    padding: 0;
}
.timepicker .timepicker-picker .table-condensed td a{
    padding: 0;
}
.picker-switch.accordion-toggle table.table-condensed {
    display: none;
}
.station-management input, .station-management select {
    background-color: #EFEFEF;
    box-shadow: 0px 0px 1px rgb(0 0 0 / 25%);
    border-radius: 3px;
    border: none;
    font-weight: 400;
    font-size: 1rem;
    line-height: 22px;
    padding-left: 14px;
    color: #000;
}
#agentId, #franchiseId {
    background-color: white;
}
#agentId:disabled, #franchiseId:disabled
{
    background-color: #EFEFEF;
}
.lable_reservation {
    padding: 5px 10px;
}
